<!DOCTYPE html>
<html>
  <head>
    <title>Athena</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'AthenaLogoTransparent.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="center">
    <nav class="navbar navbar-light bg-faded">
      <%= link_to image_tag("AthenaLogoTransparent", id: "navbar-logo"), root_path, class: "navbar-brand navbar-brand-logo" %>
      <a class="navbar-brand" id="navbar-text" href="/">Athena</a>
    </nav>
    <%= yield %>
  </body>
</html>
